version: 2.1
orbs:
  node: circleci/node@3.0.0
jobs:
  test:
    docker:
      - image: circleci/node
      - image: circleci/mongo:4.1.9
    steps:
      - checkout
      - node/install-packages
      - run:
          name: 'seed db'
          command: npm run seed
      - run:
          name: 'run tests with npm'
          command: npm run test
workflows:
  run-unit-tests:
    jobs:
      - test
  # steps: npm install
