 
/* body {
  margin: 0;
  padding: 0;
} */

/* #app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 237, 237);
} */

/* .product {
 background-color: white;
 display: inline;
} */

.brand {
  font-size: 3rem;
  font-style: oblique
}

/* .stars {

} */

/* .footer{
  display: flex;
  flex-direction: column;
} */

/* .reviewCount {

} */


.available{
  color: rgb(53, 143, 53);
}

.name {
  font-family: Cera Pro,sans-serif;
  font-weight: 500;
}

.price {
 font-weight: 800;
 font-family: Cera Pro,sans-serif;
}

/* .quantity {

} */


/* .button {
}
.button:hover {
  background-color: white
}  */
